<div dir="rtl" class="mt-4">
  <div class="row">
    <div class="col">
      <h2 class="text-right">تعديل الخبر</h2>
    </div>
    <div class="col">
        <a href="" class="btn btn-link" [routerLink]="[ '/new-details', id ]"> الرجوع الي التفاصيل <i class="fas fa-arrow-circle-left"></i> </a>
    </div>
  </div>
  <div class="mt-3">
      <form #f="ngForm" (ngSubmit)="updateNew(f.value)" >
        <div class="form-group text-right ">
          <label for="title">عنوان الخبر</label>
          <input type="text" class="form-control" required id="title" name="title" [(ngModel)]="new.title">
        </div>
        <div class="form-group text-right ">
            <label for="body">تفاصيل الخبر</label>
            <textarea name="body" required id="body" placeholder="تفاصيل الخبر" class="form-control" [(ngModel)]="new.body" cols="30" rows="10"></textarea>
        </div>
        <!-- <div class="form-group text-right">
          <label for="src">مصدر الصورة</label>
          <input  type="text" class="form-control" id="src" name="src" [(ngModel)]="new.src">
        </div> -->
        <div class="form-group text-right">
          <label for="img">صورة للخبر</label>
          <input type="file" class="form-control" (change)="uploadFile($event)"  >
          <p class="alert alert-success text-center" *ngIf="complate" >نم رفع الصورة </p>
        </div>
        <input [disabled]="f.invalid" type="submit" value="تعديل الخبر " class="btn btn-info btn-block btn-sm">
      </form>
  </div>
</div>